<div class="py-medium wide-container c-contact" data-cc-animate data-cc-animate-delay="0.2s">
  <div class="c-contact__image">
    <img src="{{ section.settings.image | img_url: '1024x1024' }}" alt="{{ section.settings.image.alt | escape }}" class="r"></div>
  <div  class="c-contact__form">
  {% if section.settings.show_title %}
    {% assign title = page.title  | split: " " %}
    <h1 class="feature-header"> {% for member in title %}
        <span>{{ member }}</span>
      {% endfor %}</h1>
  {% endif %}

  {% form 'contact' %}
    {% if form.posted_successfully? %}
      <div class="rte align-center">
        {{ 'contact.form.post_success' | t }}
      </div>

    {% else %}

      <div class="rte">
        {{ page.content }}
      </div>

      {% if form.errors %}
        <div class="errors">
          <p>{{ 'contact.form.post_error' | t }}</p>
          {% assign message_label = 'contact.form.message' | t %}
          <ul>
            {% for field in form.errors %}
              <li>{{ field | replace: 'body',message_label | capitalize }} - {{ form.errors.messages[field] }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="form">
        <div class="input-row">
          <input aria-label="{{ 'contact.form.name' | t }}" placeholder="{{ 'contact.form.name' | t }}" type="text"
                 class="required" id="contact_name" name="contact[name]"/>
        </div>
        <div class="input-row">
          <input aria-label="{{ 'contact.form.email' | t }}" placeholder="{{ 'contact.form.email' | t }}" type="email"
                 class="required" id="contact_email" class="email" name="contact[email]"/>
        </div>
        <div class="input-row">
          <textarea aria-label="{{ 'contact.form.message' | t }}" placeholder="{{ 'contact.form.message' | t }}"
                    id="message" class="required" name="contact[body]"></textarea>
        </div>
        <div class="wide-action">
          <input type="submit" value="{{ 'contact.form.send' | t }}"/>
        </div>
      </div>
    {% endif %}
  {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Contact form",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title",
      "default": true
    },
 {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image",
      "info": "520 x 200px recommended"
    }
  ]
}
{% endschema %}
